
.accordion-title {
	font-size: 0.85rem;
	padding: 1rem;
}

.careers-side-widget {
	margin-bottom: 2em;
}

@include breakpoint(small only) {
	.entry-title {
		font-size: 2.5rem;
	}
	.entry-content {
		padding: 1.5rem;
	}
}

#sub-title {
	height: 150px;
	@include breakpoint(medium) {
		margin: 2rem 0;
		height: 250px;
	}
	position: relative;
	background-position: center center;
	background-size: cover;
	h1 {
		bottom: -0.55em;
		@include breakpoint(medium) {
			bottom: -0.53em;
		}
		left: 0.5em;
		position: absolute;
		color: white;
		font-family: $swiss;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 2.5rem;
	}
}

.tabs {
	border: none;
	.tabs-title {
		text-align:center;
		background-color: #fafafa;
		
	}
	.tabs-title a {
		font-family: $roboto;
		color: #cacaca;
		@include breakpoint(medium) {
			&:hover {
				color: #999;
				@include transition-all;
			}
		}
	}
	.tabs-title > a[aria-selected='true'] {
		background-color: $white;
	}
	.tabs-title.is-active {
		background-color: $white;
		a {
			color: $black;
		}
	}
}

//Our People
.our-people-tabs {
	.tabs-title {
		float: none;
		border: 1px solid #e6e6e6;
	}
	.tabs-title a {
		font-size: 1.2em;
	}
	.tabs-title.is-active {
		border-left: 3px solid $red;
		border-right: none;
		border-bottom: none;
	}
	.tabs-panel {
		h5 {
			color: $red;
			text-transform: uppercase;
			font-size: 1.1rem;
		}
		img {
			float: left;
			width: 200px;
			padding-right: 0.75em;
		}
		p {
			margin-bottom: 0.5em;
		}
		span {
			font-weight: bold;
		}
	}
	blockquote {
		border-left: 1px solid $red;
	}
	.button {
		margin-top: 0.5em;
		font-size: 1em;
		font-weight: 600;
	}
}

//Our Approach
.our-approach-tabs {
	.tabs-title {
		border: 1px solid #e6e6e6;
		border-top: 3px solid #999;
		a {
			font-size: 1.2em;
			font-weight: 400;
			color: $charcoal;
		}
	}
	.tabs-title.is-active {
		border-top: 3px solid $red;
		border-bottom: none;
		.fa {
			color: $red;
		}
	}
	.fa {
		display: block;
		font-size: 2.5em;
		text-align:center;
		margin-bottom: 0.5em;
		color: $charcoal;
	}
}


.blog-slider {
	.slick-slide {
		@include breakpoint(large) {
			&:hover {
				img {
					@include filter(grayscale, 100%);
					@include transition-all;
				}
			}
		}
	}
	.slick-prev:before, .slick-next:before {
	    color: $charcoal;
	}
	.slider-thumb {
		width: 100%;
  		height: 175px;
  		background-size: cover;
	}
}


.slick-slide {
  padding: 0 0.25em;
  text-align: center;
  .slider-caption {
    height: 75px;
    border: 1px solid $light-grey;
  }
  h6 {
    padding: 0.5em;
    font-weight: 300;
    color: $charcoal;
    @include vertical-align;
  }
  	@include breakpoint(medium) {
		&:hover {
			h6 {
				color: $red;
				@include transition-all;
			}
		}
	}
}

//Community
.community-organization-slider {
	margin: 1em 0;
	.slick-slide {
		img {
			height: 100px;
			margin: 0 auto;
		}
		.slider-caption {
			border: none;
			h6 {
				font-size: 0.95em;
			}
		}
		@include breakpoint(medium) {
			&:hover {
				img {
					@include filter(grayscale, 100%);
					@include transition-all;
				}
			}
		}
	}
}

.community-blog-slider {
	margin: 2em 0;
	// .slick-slide {
	// 	img {
	// 		@include breakpoint(medium) {
	// 			height: 150px;
	// 		}
	// 	}
	// }

	.slick-prev:before, .slick-next:before {
	    color: $charcoal;
	}
	.slider-thumb {
		width: 100%;
  		height: 150px;
  		background-size: cover;
	}
}

//Awards
.awards {
	img {
		margin-top: 1em;
	}
	.award-row {
		margin: 0.5em 0;
	}
	.award-amount {
		background-color: $red;
		h3 {
			font-size: 1.1rem;
			@include breakpoint(medium) {
				font-size: 1.5rem;
			}
			color: $white;
			text-align:center;
			@include vertical-align;
		}
	}
	.award-description {
		background-color: $light-grey;
		h5 {
			font-size: 0.85rem;
			@include breakpoint(medium) {
				font-size: 1rem;
			}
			padding-left: 0.5em;
			text-transform: capitalize;
			text-align:left;
			color: $black;
			font-weight: 300;
			@include vertical-align;
		}
	}
}

//All Slider Carousels
.slider-thumb {
  position: relative;
  .fa {
    display: none;
    position:absolute;
    top: 40%;
    left: 43%;
    background-color: $red;
    padding: 0.75em;
    border-radius: 50%;
    color: $white;
    font-size: 1.2rem;
  }
  &:hover {
    img {
      @include filter(grayscale, 100%);
      //@include filter(blur, 70%);
      @include transition-all;
    }
    .fa {
      	display: block;
    }
  }
}

//Subcontractor Portal
.post-242 {
	h1 {
		margin-top: 1rem;
		font-size: 2.5rem;
	}
}