
.news-feed {
	margin: 2em 0;
	.news-item {
		margin: 1em 0;
		h6 {
			font-family: $helvetica;
			color: $red;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

.side-nav-news {
	margin-bottom: 2em;
	h5 {
		margin-top: 2em;
	}
	.news-item {
		margin: 1em 0;
		a {
			color: $charcoal;

			font-size: 0.85em;
			@include breakpoint(large) {
				&:hover {
					color: $red;
				}
			}
		}
		img {
			padding-right: 0.5em;
		}
	}
}