
#page-our-work {
	padding: 3rem 2rem 0 2rem;
	.work-category {
		width: 100%;
		height: 200px;
		@include breakpoint(medium) {
			height: 250px;
		}
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 3rem;
		position: relative;
		border-radius: 3px;
		//box-shadow: 0px 0px 2px 2px $medium-gray;
		@include filter(grayscale, 100%);
		h3 {
			color: $white;
			width: 100%;
			font-family: $swiss;
			position: absolute;
			bottom: -0.35em;
			text-align:center;
			font-size: 2.2rem;
			margin-bottom: 0;
			text-transform: uppercase;
		}
		&:hover {
			@include filter(grayscale, 0%);
			@include transition-all;
			h3 {
				color: $red !important;
				@include transition-all;
			}
		}
	}

	#commercial {
		background-image: url(../images/commercial-small.jpg);
	}

	#education {
		background-image: url(../images/education-small.jpg);
	}

	#healthcare {
		background-image: url(../images/healthcare-small.jpg);
	}

	#hospitality {
		background-image: url(../images/hospitality-small.jpg);
	}

	#industrial {
		background-image: url(../images/industrial-small.jpg);
	}

	#multifamily {
		background-image: url(../images/multifamily-small.jpg);
	}
}
