#page-our-work-sub .page-content {
	@include breakpoint(small only) {
		@include grid-column-collapse;
	}
}

.category-slider {
	.slick-slide img {
		height: 175px;
	}
	.slick-prev:before, .slick-next:before {
	    color: $charcoal;
	}
}


#industry-page-title {
	height: 150px;
	@include breakpoint(medium) {
		margin: 2rem 0;
		height: 250px;
	}
	position: relative;
	background-position: center center;
	background-size: cover;
	.industry-title-content {
     	width: 100%;
     	height: 100%;
		@include breakpoint(medium) {
			// bottom: -0.53em;
		}
		.industry-title-icon {
			position: absolute;
			text-align:center;
			bottom: 0;
			img {
    			width: 70%;
			}
		}
		.industry-title {
			h1 {
				color: white;
				font-family: $swiss;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 2.5rem;
				margin-bottom: 0;
				position: absolute;
    			bottom: -0.32em;
    			left: 7rem;
			}
		}
	}
}

.industry-title-caption {
	position: relative;
	padding: 2em 1em 0 1em;
	@include breakpoint(large) {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 1em;
		position: absolute;
		bottom: 0em;
	}
	@include breakpoint (medium down) {
		text-align: center;
	}
	h6 {
		font-size: 1.1rem;
		color: $black;
		@include breakpoint(large) {
			color: white;
		}
		font-family: $swiss;
		font-weight: normal;
		text-transform: uppercase;
		span {
			color: $red;
		}
	}
}