#contact-title {
	height: 200px;
	@include breakpoint(medium) {
		height: 300px;
	}
	position: relative;
	h1 {
		color: $white;
		position:absolute;
		width: 100%; 
		bottom: -0.33em;
		text-transform: uppercase;
		margin-bottom: 0;
		font-family: $swiss;
	}
}

.contact-content {
	padding: 2em 1em;
	h4 {
		margin-bottom: 1em;
	}
	h6 {
		text-transform: uppercase;
		color: $red;
	}
	.contact-btns .button {
		width: 100%;
		font-size: 0.85rem;
	}
	.contact-form {
		[type='text'], [type='email'], textarea {
			background-color: $light-grey;
		}
		input[type="submit"] {
			text-align: center;
			border: 1px solid transparent;
			padding: 0.85rem 1.1rem;
			font-size: 1rem;
			background-color: $red;
			color: $white;
			float: right;
			&:hover {
				background-color: darken($red, 20%);
			}
		}
	}
}

