#page-home {
	.slick-slider {
		margin-bottom: 0;
		.slick-track {
			height: 250px;
			@include breakpoint(medium only) {
				height: 400px;
			}
			@include breakpoint(large) {
				height: 500px;
			}
			@include breakpoint(xxlarge) {
				height: 700px;
			}
			.slick-slide {
				img {
					width: 100%;
					min-height: 100%;
					@include breakpoint(medium) {
						&:hover {
							@include filter(grayscale, 0%);
						}
					}
				}
			}
		}
	}

	.home-slider-caption {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 0;
		font-family: $swiss;
		color: white;
		text-transform: uppercase;
		padding: 0.8em;
		font-size: 1.5rem;
		@include breakpoint(medium only) {
			padding: 1.2em;
			font-size: 1.5rem;
		}
		@include breakpoint(large) {
			padding: 0 1em 1.7em 1em;
			font-size: 2rem;
		}
		text-shadow: rgba(0,0,0,0.6) 0px 2px 4px;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);
		@include linearGradient(transparent, #000000);
	}

	.home-callout-section {
		background: $light-grey;
		padding: 2em 0;
		.callout {
			background-color: transparent;
			border: none;
			.home-callout-head {
				height: 200px;
				position: relative;
				text-align: center;
				background-position: center center;
				background-size: cover;
				@include filter(grayscale, 100%);
				h4 {
					color: white;
					position: absolute;
					bottom: -0.35em;
					width: 100%;
					text-transform: uppercase;
					font-size: 2.5em;
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
					font-family: $swiss;
				}
			}
			h6 {
				font-family: $helvetica;
				color: $red;
				font-weight: 400;
				font-size: 1.1rem;
				text-align: center;
			}
			p {
				color: $charcoal;
			}
			&:hover {
				.home-callout-head {
					@include filter(grayscale, 0%);
				}
				h6 {
					color: $charcoal;
				}
			}
		}
		#home-callout-news .home-callout-head {
			background-image: url(../images/latest-news-small.jpg);
		}
		#home-callout-featured .home-callout-head {
			background-image: url(../images/featured-projects-small.jpg);
		}
		#home-callout-people .home-callout-head {
			background-image: url(../images/our-people-img.jpg);
		}
	}

	.home-industry-section {
		padding: 1.5em;
		@include breakpoint(medium) {
			padding: 3em;
		}
		.home-industry {
			text-align: center;
			padding: 1em;
			img {
				margin-bottom: 1em;
			}
			h5 {
				color: $red;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}

.tp-caption {
	text-transform: uppercase;
}