#page-splash {
	padding: 4rem;
	h3 {
		margin: 2rem 0;
	}
	.contact-form {
		[type='text'], [type='email'], textarea {
			background-color: $light-grey;
		}
		input[type="submit"] {
			text-align: center;
			border: 1px solid transparent;
			padding: 0.85rem 1.1rem;
			font-size: 1rem;
			background-color: $red;
			color: $white;
			float: right;
			&:hover {
				background-color: darken($red, 20%);
			}
		}
	}
}