#single-post {
  h3 {
    color: $red;
    font-weight: 300;
    margin: 0.75em 0;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  .entry-content {
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-top: 2rem;
  }
}



#single-portfolio {
	.single-portfolio-slider {
		@include breakpoint(medium) {
			margin-top: 2rem;
		}
		margin-bottom: 0;
		.slick-slide img {
			width: 100%;
		}
		.slick-prev, .slick-next {
			z-index: 10;
		}
		.slick-prev {
			left: 20px;
		}
		.slick-next {
			right: 30px;
		}
		.slick-prev:before, .slick-next:before {
			font-size: 30px;
		}
	}
	h3 {
	    color: $red;
	    font-size: 1.5rem;
	    font-weight: 300;
	    margin: 1em 0;
	    text-transform: uppercase;
	    span {
			color: $charcoal;
	    }
	}
	h6 {
		color: $red;
		font-weight: 300;
	}
}

.single-news-slider {
	@include breakpoint(medium) {
		margin-top: 2rem;
	}
	margin-bottom: 0;
	.slick-slide img {
		width: 100%;
	}
	.slick-prev, .slick-next {
		z-index: 10;
	}
	.slick-prev {
		left: 20px;
	}
	.slick-next {
		right: 30px;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 30px;
	}
}

.portfolio-content {
	.fa-quote-left {
		font-size: 2rem;
	}
	h6 {
		text-transform: uppercase;
	}
	blockquote {
		background-color: #EFECEC;
		border-left: 3px solid $medium-gray;
		font-style: italic;
		p {
			padding: 0.5em;
			padding-bottom: 0;
			margin-bottom: 0.75em;
		}
	}
}

.similar-slider {
	.slider-thumb {
		width: 100%;
  		height: 175px;
  		background-size: cover;
	}
}

.single-featured {
	text-align: center;
}
