@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition-all {
  -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

@font-face {
  font-family: 'LHFChicago';
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot); /* IE9 Compat Modes */
  src: url(../../assets/fonts/moxy/LHFChicagoScript.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff2) format('woff2'), /* Super Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.woff) format('woff'), /* Pretty Modern Browsers */
       url(../../assets/fonts/moxy/LHFChicagoScript.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../../assets/fonts/moxy/LHFChicagoScript.otf) format('otf'),
       url(../../assets/fonts/moxy/LHFChicagoScript.svg#svgFontName) format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Swis721 BlkCn BT';
  src: url(../../assets/fonts/swiss/swissck.eot); /* IE9 Compat Modes */
  src: url(../../assets/fonts/swiss/swissck.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(../../assets/fonts/swiss/swissck.woff2) format('woff2'), /* Super Modern Browsers */
       url(../../assets/fonts/swiss/swissck.woff) format('woff'), /* Pretty Modern Browsers */
       url(../../assets/fonts/swiss/swissck.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(../../assets/fonts/swiss/swissck.otf) format('otf'),
       url(../../assets/fonts/swiss/swissck.svg#svgFontName) format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Helvetica Neuel Black';
    src: url(../../assets/fonts/helvetica/helvetica-neuel-black-webfont.eot);
    src: url(../../assets/fonts/helvetica/helvetica-neuel-black-webfont.eot?#iefix) format('embedded-opentype'),
         url(../../assets/fonts/helvetica/helvetica-neuel-black-webfont.woff) format('woff'),
         url(../../assets/fonts/helvetica/helvetica-neuel-black-webfont.ttf) format('truetype'),
         url(../../assets/fonts/helvetica/helvetica-neuel-black-webfont.svg#helveticaneuel-black) format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Helvetica Neuel Bold';
    src: url(../../assets/fonts/helvetica/helvetica-neuel-bold-webfont.eot);
    src: url(../../assets/fonts/helvetica/helvetica-neuel-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../../assets/fonts/helvetica/helvetica-neuel-bold-webfont.woff) format('woff'),
         url(../../assets/fonts/helvetica/helvetica-neuel-bold-webfont.ttf) format('truetype'),
         url(../../assets/fonts/helvetica/helvetica-neuel-bold-webfont.svg#helveticaneuel-bold) format('svg');
    font-weight: normal;
    font-style: normal;
}