#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-image: url(../images/footer-bg-1.jpg);
	background-position: bottom center;
	background-size: cover;
	#footer {
		color: $white;
		padding: 1.5em;
		@include breakpoint(small only) {
			text-align:center;
		}
		@include breakpoint(medium) {
			padding: 3em;
		}
		.ft-address {
			p {
				@include breakpoint(medium) {
					float: right;
					text-align: right;
				}
			}
			.ft-links {
				margin-top: 0.75em;
				@include breakpoint(small only) {
					margin: 0.75em 0;
				}
				@include breakpoint(medium) {
					float: right;
				}
				li {
					background: transparent;
					border: 2px solid $white;
					padding: 1em;
					@include breakpoint(medium) {
						display: inline-block;
					}
					list-style-type: none;
					@include breakpoint(small only) {
						margin: 1em;
					}
					@include breakpoint(medium) {
						margin-left: 1em;
					}
					a {
						color: $white;
					}
					@include breakpoint(large) {
						&:hover {
							@include transition-all;
							background: $red;
						}
					}
				}
			}
		}
		.ft-description {
			#text-8 p {
				padding: 0 1em;
			}
		}
		.social-icons {
			margin-left: 0;
			margin-top: 0.75em;
			li {
				display: inline-block;
				list-style-type: none;
				margin-right: 0.5em;
				.fa {
					font-size: 2rem;
					color: $white;
					@include breakpoint(large) {
						&:hover {
							@include transition-all;
							color: $red;
						}
					}
				}
			}
		}
		.copy p{
			@include breakpoint(small only) {
				font-size: 0.75em;
			}
		}
		#ft-moxy {
			@include breakpoint(medium) {
				float: right;
			}
			font-family: $moxy-font;
			color: $white;
			text-transform: capitalize;
			font-size: 1.7em;
			@include breakpoint(large) {
				&:hover {
					@include transition-all;
					color: $red;
				}
			}
		}
	}
}
