/* ==========================================================================
  #Section Info Graphic
========================================================================== */
.section-info-graphic { 
  width: 100%;
  @include breakpoint(large) {
    width: 769px; 
  }
  height: auto; 
  background: #fff; 
  display: block; 
  margin-bottom: 50px; 
  overflow: hidden;
  p { 
    font-family: $helvetica-bold; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    font-weight: normal; 
  }
  .red { 
    color: #d2232a; 
  }
}

.section-info-graphic > .built.show  { 
  opacity: 1; 
  transition-delay: 0.8s !important; 
}

.built {
  background: url(../images/infographic/ig-year.jpg);
  background-repeat: no-repeat;
  width: 261px; 
  float: left; 
  margin: 5px; 
  opacity: 0; 
}

.established { 
  display: table;
  width: 50%;
  @include breakpoint(large) {
    width: 260px;
  }
  height: 303px;  
  margin-bottom: 14px;
  p {
    display: table-cell; 
    vertical-align: bottom; 
    font-family: $helvetica-black; 
    font-size: 29px;
    text-transform: uppercase;
    line-height: 1.2; 
    text-transform: uppercase; 
    color: #000;
    span {
      display: block; 
      font-family: $helvetica-black; 
      padding: 5px 0 0 0; 
      font-size: 82px; 
      line-height: 0.8; 
      color: #000; 
      text-align: center;
    }
  }
}

.project { 
  display: table; 
  width: 260px; 
  height: 98px; 
  background: #000;
  p {
    display: table-cell; 
    vertical-align: middle; 
    font-family: $helvetica-black; 
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.2; 
    color: #fff;
    span {
      display: block; 
      color: #ff0000
    }
  } 
}

//Head
.section-info-graphic > ._head.show { 
  opacity: 1; 
  transition-delay: 0.4s !important; 
}

._head { 
  background: url(../images/infographic/ig-head.png);
  background-repeat: no-repeat;
  @include breakpoint(medium down) {
    background-size: cover;
  }
  opacity: 0; 
  display: table; 
  width: 100%;
  @include breakpoint(large) {
    float: right;
    width: 486px;
  }
  height: 100px;  
  margin: 5px; 
  p {
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle; 
    width: 100%; 
    height: 100%; 
    font-size: 24px; 
    color: #fff;
  }
}

//Percent
.section-info-graphic > ._percent_counter.show  { 
  opacity: 1; 
  transition-delay: 1.4s !important; 
}

._percent_counter { 
  float:left;
  width: 260px; 
  height: 306px;  
  background: url(../images/infographic/ig-percent.png);
  background-repeat: no-repeat;
  @include breakpoint(medium down) {
    background-size: contain;
    float: right;
    width: 45%;
  }
  opacity: 0;
  margin: 5px;
  span { 
    padding-top: 99px; 
    font-family: $helvetica-black; 
    font-size: 81px; 
    line-height: 1; 
    color: #000; 
    text-align: center; 
    display: block; 
  }
  p { 
    text-transform: uppercase;
    font-size: 28px; 
    color: #d2232a; 
  }
}

//State
.section-info-graphic > ._state.show  { 
  opacity: 1; 
  transition-delay: 1.6s !important; 
}

._state {
  background: url(../images/infographic/ig-states.png);
  background-repeat: no-repeat;
  opacity: 0; 
  float: right;
  @include breakpoint(large) {
    float: left;
  }
  width: 218px; 
  height: 306px;  
  margin: 5px;
  p { 
    padding-top: 156px; 
    padding-bottom: 2px; 
    font-family: $helvetica-black; 
    font-size: 81px;
    text-transform: uppercase; 
    line-height: 0.5; 
    color: #000; 
    display: block;
    span {
      color: #000000;
    }
    strong { 
      font-size: 36px; 
      color: #d2232a; 
    }
  }
}

//Employees
.section-info-graphic > ._employees.show  { 
  opacity: 1; 
  transition-delay: 2s !important; 
}

._employees {
  background: url(../images/infographic/ig-employees.jpg);
  background-repeat: no-repeat;
  opacity: 0; 
  display: table; 
  float: left;
  width:50%;
  @include breakpoint(large) {
    width: 374px;
  }  
  height: 179px;  
  margin: 5px;
  p { 
    display: table-cell;
    vertical-align: middle; 
    font-family: $helvetica-black; 
    font-size: 27px;
    text-transform: uppercase;
    color: #d2232a; 
    text-shadow: 3px 0 0 #ddddde, -3px 0 0 #ddddde, 0 3px 0 #ddddde, 0 -3px 0 #ddddde, 3px 3px #ddddde, -3px -3px 0 #ddddde, 3px -3px 0 #ddddde, -3px 3px 0 #ddddde;
    span {
      color: #000000;
    }
    strong { 
      font-size: 100px; 
      line-height: 0.9; 
      color: #000; 
      display: block; 
      padding-top: 5px; 
      text-shadow: none; 
    }
  }
}

//Awards
.section-info-graphic > ._award.show  { 
  opacity: 1; 
  transition-delay: 2.4s !important; 
}
._award {
  background: url(../images/infographic/ig-safety-award.png);
  background-repeat: no-repeat;
  @include breakpoint(medium down) {
    width: 100%;
    background-size: cover;
  }
  @include breakpoint(large) {
    float: left;
    width: 374px; 
  }
  opacity: 0; 
  display: table; 
  height: 109px;
  margin: 5px;
  p { 
    display: table-cell; 
    vertical-align: middle; 
    font-size: 22px; 
    line-height: 1.167; 
    color: #fff; 
    text-transform: uppercase;
    strong { 
      font-size: 32px; 
    }
  }
}

//Contractors
.section-info-graphic > ._contractors_list.show  { 
  opacity: 1; 
  transition-delay: 2.8s !important; 
}
._contractors_list {
  background: url(../images/infographic/ig-contractors-list.png);
  background-repeat: no-repeat;
  opacity: 0; 
  overflow: hidden; 
  float: left; 
  width: 50%;
  @include breakpoint(large) {
    width: 374px; 
  }
  height: 109px; 
  margin: 5px;
  h5 { 
    width: 29%;
    font-size: 65px;
    padding: 15px 0 0 32px; 
    @include breakpoint(large) {
      //width: 94px;
      padding: 12px 0 0 26px;
      font-size: 74px; 
    }
    float: left; 
    line-height: 1.03; 
    letter-spacing: -0.01em; 
    color: #000; 
    text-transform: uppercase; 
    text-align:left;  
    margin: 0; 
  }
  p { 
    width: 71%;
    padding: 1.5em 0 0 1.5em;
    float: right;
    font-size: 16px;
    @include breakpoint(large) {
      //width: 245px;
      padding: 12px 0 0 5px;
      float: left; 
      font-size: 20px;
      strong { 
        font-size: 28px; 
      } 
    } 
    text-transform: uppercase; 
    text-align: left; 
    line-height: 1.2; 
    letter-spacing: 0.015em; 
    color: #000;
  }
}

//Year Established
.section-info-graphic > ._year_established.show  { 
  opacity: 1; 
  transition-delay: 3.2s !important; 
}
._year_established { 
  opacity: 0; 
  display: table;
  width: 100%;
  @include breakpoint(large) {
    float: left;
    width: 374px;
  }
  height: 179px; 
  background: #000; 
  margin: 5px;
  p { 
    display: table-cell; 
    vertical-align: middle; 
    font-size: 19px; 
    color: #fff; 
    letter-spacing: -0.05em; 
    line-height: 1.2; 
    text-transform: uppercase;
    strong { 
      font-size: 25px; 
    }
    span { 
      font-size: 100px; 
      line-height: 0.8; 
      color: #ff0000; 
      display: block; 
      padding-bottom: 2px; 
    }
  }
}

//Rating
.section-info-graphic > ._rating_counter.show  { 
  opacity: 1; 
  transition-delay: 3.6s !important; 
}
._rating_counter {
  background: url(../images/infographic/ig-rating.jpg);
  background-repeat: no-repeat;
  opacity: 0; 
  float: right;
  width: 45%;
  @include breakpoint(large) {
    width: 366px;
  } 
  height: 384px;  
  margin: 5px;
  span { 
    font-family: $swiss; 
    font-size: 81px; 
    color: #d2232a; 
 //   padding: 35px 0 7px; 
    text-align: center; 
    display: block; 
    height: 63px; 
  }
  p { 
    font-family: $helvetica-bold; 
    font-size: 22px; 
    text-transform: uppercase; 
    line-height: 1.09; 
    letter-spacing: 0.01em; 
    color: #fff; 
    margin-top: 3em;
  }
}

//Departments
.section-info-graphic > ._departments.show  { 
  opacity: 1; 
  transition-delay: 4s !important; 
}
._departments {
  background: url(../images/infographic/ig-departments.jpg);
  background-repeat: no-repeat;
  opacity: 0; 
  display: table; 
  float: left;
  width: 50%;
  @include breakpoint(large) {
    width: 374px;
  }
  height: 146px;  
  margin: 5px;
  p { 
    display: table-cell; 
    vertical-align: middle;
    font-size: 18px;
    @include breakpoint(large) { 
      font-size: 21px;
    }
    line-height: 1.2; 
    text-transform: uppercase; 
    text-shadow: 3px 0px 26px rgba(0, 0, 0, 0.47); 
    color: #fff; 
    text-shadow: 3px 0 0 rgba(7, 7, 7, 0.4), -3px 0 0 rgba(7, 7, 7, 0.4), 0 3px 0 rgba(7, 7, 7, 0.4), 0 -3px 0 rgba(7, 7, 7, 0.4), 3px 3px rgba(7, 7, 7, 0.4), -3px -3px 0 rgba(7, 7, 7, 0.4), 3px -3px 0 rgba(7, 7, 7, 0.4), -3px 3px 0 rgba(7, 7, 7, 0.4);
    span { 
      font-size: 30px; 
    }
  }
}

.section-info-graphic > div {
  -webkit-transition: opacity 0.9s;
          transition: opacity 0.9s; 
}

.wipcm-text{
  margin: 0;
  padding: 0;
  position: relative;
}
.wipcm-text.wipcm-video{
  padding-top: 30px;
}
.wipcm-media-wrap{
  margin: 0 0 0;
  padding: 0;
}
.wipcm-media-wrap iframe{
  display: block;
  width: 100%;
}
/** fix shortcode p */
.wipcm-media-wrap>p{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.wipcm-media-wrap>p {
  display: block;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wipcm-media-wrap>p iframe,
.wipcm-media-wrap>p embed,
.wipcm-media-wrap>p video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-ajax-loading{
  display: block;
  margin: 0;
  padding: 0;
  font-size: 3.6em;
  text-align: center;
}

.module-wrapper{
  margin: 0 0 0px;
  padding: 0;
}

.module-wrapper:after{
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}