/* Navigation breakpoints */

.main-navigation {
  @include show-for(medium);
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .08);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .08);
  box-shadow: 0px 1px 0px rgba(0,0,0, .08);
//  margin-bottom: 2em;
}

.title-bar {
  @include hide-for(medium);
  padding: 1.75em;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .08);
  -moz-box-shadow: 0px 1px 0px rgba(0,0,0, .08);
  box-shadow: 0px 1px 0px rgba(0,0,0, .08);
  background-color: $white;
  i {
    color: $charcoal;
    font-size: 2rem;
  }
  img {
    width: 80%;
    float: right;
    margin-top: -2.5rem;
  }
}

/* Mobile menu */
.off-canvas {
  background-color: $white;
  z-index: 1;
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
  .menu li {
    border-bottom: 1px solid $light-grey;
    padding: 0.5em 0;
    a {
      font-size: 1.2rem;
      font-family: $roboto;
    }
  } 
  .submenu li {
    border-bottom: none;
    a {
      font-size: 1rem;
      font-color: $black !important;
    }
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

#site-navigation {
  .active a {
    border-bottom: 3px solid $red;
  }
}


/* Tablet and desktop menu */
.top-bar {
  padding: 1.75em 1em 1.7em 1em;
  background-color: white;
  ul {
    background-color: white;
  }
  // .menu .home a {
  //   font-size: 1rem;
  //   color: #B9B9B9;
  // }

  .menu a {
    color: $black;
    padding-top: 0;
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: $roboto;
    text-transform: uppercase;
    &:hover:not(.button) {
      color: $red;
    }
    // &:active {
    //   border-bottom: 2px solid $red;
    // }
  }

  .top-bar-right {
    padding-top: 1em;
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow>a::after { border: 0; }
}

@include breakpoint(medium only) {
  .top-bar-center {
    text-align: center;
  }
  .menu {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  #menu-main-menu {
    margin-top: 0.8em;
  }
}