.sidebar {
	margin: 2rem 0;
	padding-right: 3rem;
	border-right: 1px solid $light-grey;
	h5 {
		color: $red;
		text-transform: uppercase;
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 0.3em;
		font-size: 1.2em;
		span {
			border-bottom: 2px solid $red;
			padding-bottom: 0.3em;
		}
	}
	.secondary {
		li a {
			font-size: 0.75rem;
		}
		.active {
			width: 130%;
    		background-color: white;
    		border-right: 3px solid $red;
		}
	}
	.secondary, #menu-subcontractor-portal {
		margin-left: 0;
		li {
			border-bottom: 1px solid $light-grey;
			padding: 1em 0;
			display: block;
			&:hover {
				a {
					@include transition-all;
					color: $red;
				}
			}
			a {
				color: $dark-gray;
				text-transform: uppercase;
			}
		}
	}
	label {
		display: none;
	}
	select {
		color: $body-font-color;
	}
}